@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

body {
  background-image: url("/images/inazuma-background.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  min-height: 100svh;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #16161a;
  opacity: 0.5;
  z-index: -1;
}
